<a href="https://colab.research.google.com/github/BharatNal/BTE320/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape area calculator
pi = 3.14
r = float(input("Enter radius of cylinder: ")) # r = 3
h = float(input("Enter height of cylinder: ")) # h = 10
Area_cylinder = 2*pi*r*h+2*pi*r**2
print(Area_cylinder)

Enter radius of cylinder: 3
Enter height of cylinder: 10
244.92000000000002

In [ ]:
#Rock-paper-scissors (with the while loop)
import random
choice = input('Do you want to play? ').lower()
while choice == 'yes':
  p1 = input('Choose rock, paper or scissors: ').lower()
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}')
  if p1 == p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors' or p1 == 'scissors' and p2 == 'paper' or p1 == 'paper' and p2 == 'rock':
    print('You win')
  else:
    print('Computer wins')
  choice = input('Do you want to play again? ')

Do you want to play? yes
Choose rock, paper or scissors: rock
Computer chose scissors
You win
Do you want to play again? no

In [ ]:
#Numerical calculator
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
symbol = input('Enter operator (+, -, *, /, **): ')

if symbol == '+':
  print(n1+n2)
elif symbol == '-':
  print(n1-n2)
elif symbol == '*':
  print(n1*n2)
elif symbol == '/':
  print(n1/n2)
elif symbol == '**':
  print(n1**n2)

Enter first number: 5
Enter second number: 6
Enter symbol: **
15625.0

In [ ]:
#Parking garage
flatRate = 5
hourlyRate = 2.5

for hour in range(1, 9):
  charge = flatRate + hourlyRate * hour
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0
  print(hour, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
#Movie theater
for ad in range(0, 201, 25):
  additional = 2 * round(ad ** .5, 1)
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

In [ ]:
#Months2Numbers dictionary
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in numbers:
  months[i] = names[i-1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
#house hunting + saving with raise
annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter the percent of your salary to save, as a decimal: '))
total_cost = float(input('Enter the cost of your dream home: '))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

portion_down_payment = 0.25
current_savings = 0
r = 0.04
months = 0

down_payment = total_cost * portion_down_payment

while current_savings < down_payment:
    months += 1
    current_savings += (annual_salary / 12) * portion_saved + (current_savings * r / 12)
    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

print("Number of months:", months)

Enter your annual salary: 100000
Enter the percent of your salary to save, as a decimal: .2
Enter the cost of your dream home: 1000000
Enter the semi-annual raise, as a decimal: .05
Number of months: 91

In [ ]:
#check if a number is within a range
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

range_check(5, 2, 7)

True

In [ ]:
#parking garage with func
def calcFee(hours, decimals=2):
  fee = round(5 + 2.5 * hours, decimals)
  return fee
def displayFee(fee):
  print('Parking fee: $', calcFee(hours))

hours = float(input('Enter hours parked: '))
displayFee(fee)

Enter hours parked: 4
Parking fee: $ 15.0

In [ ]:
#Reverse function (recursion)
def rev(s):
  if len(s) == 0:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('hello')

'olleh'

In [ ]:
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Division by zero')
    return []
  except TypeError:
    print('Non-numerical objects found')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')

wAvg([1,2,3], [.1,.3,.4])

2.375