<a href="https://colab.research.google.com/github/BharatNal/BTE320/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape area calculator
pi = 3.14
r = float(input("Enter radius of cylinder: ")) # r = 3
h = float(input("Enter height of cylinder: ")) # h = 10
Area_cylinder = 2*pi*r*h+2*pi*r**2
print(Area_cylinder)

Enter radius of cylinder: 3
Enter height of cylinder: 10
244.92000000000002

In [ ]:
#Rock-paper-scissors (with the while loop)
import random
choice = input('Do you want to play? ').lower()
while choice == 'yes':
  p1 = input('Choose rock, paper or scissors: ').lower()
  p2 = random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}')
  if p1 == p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors' or p1 == 'scissors' and p2 == 'paper' or p1 == 'paper' and p2 == 'rock':
    print('You win')
  else:
    print('Computer wins')
  choice = input('Do you want to play again? ')

Do you want to play? yes
Choose rock, paper or scissors: rock
Computer chose scissors
You win
Do you want to play again? no

In [ ]:
#Numerical calculator
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
symbol = input('Enter operator (+, -, *, /, **): ')

if symbol == '+':
  print(n1+n2)
elif symbol == '-':
  print(n1-n2)
elif symbol == '*':
  print(n1*n2)
elif symbol == '/':
  print(n1/n2)
elif symbol == '**':
  print(n1**n2)

Enter first number: 5
Enter second number: 6
Enter symbol: **
15625.0

In [ ]:
#Parking garage
flatRate = 5
hourlyRate = 2.5

for hour in range(1, 9):
  charge = flatRate + hourlyRate * hour
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0
  print(hour, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
#Movie theater
for ad in range(0, 201, 25):
  additional = 2 * round(ad ** .5, 1)
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

In [ ]:
#Months2Numbers dictionary
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in numbers:
  months[i] = names[i-1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
#Fee calculation and display functions
def calcFee(hours, decimals=2):
  fee = round(5 + 2.5 * hours, decimals)
  return fee
def displayFee(fee):
  print('Parking fee: $', calcFee(hours))

hours = float(input('Enter hours parked: '))
displayFee(fee)

Enter hours parked: 4
Parking fee: $ 15.0

In [ ]:
#Reverse function (recursion)
def rev(s):
  if len(s) == 0:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('hello')

'olleh'

In [ ]:
#Student class
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def set_name(self, newname):
    self.__name = newname

  def get_name(self):
    return self.__name

  def __str__(self):
    return f'{self.name}, {self.number}'

s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')
print(s1)
print(s2)

James Bond, 007
Clark Kent, 333

In [ ]:
#Student class 2
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    self.courses.append(course)
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.courses

In [ ]:
s = Student('Bob', '123')

In [ ]:
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')

In [ ]:
s.get_courses()

['ABC123', 'ABC456', 'ABC789']